@if (!string.IsNullOrWhiteSpace(Message))
{
	<div class="alert error">
		<strong>Error: </strong> @Message
		@if (Details?.Count > 0)
		{
			<ul>
				@foreach (var d in Details) {<li>@d</li>}
			</ul>
		}
	</div>
}

@code {
	[Parameter] public string? Message { get; set; }
	[Parameter] public List<string>? Details { get; set; }
}
