@page "/service-points"
@using MediatR
@using QLine.Application.Features.Admin.Queries
@using QLine.Application.DTO
@inject IMediator Mediator
@inject NavigationManager Nav

<h3>Service Points</h3>

@if (_loading)
{
	<p>Loading...</p>
}
else if (_error is not null)
{
	<p class="text-danger">@_error</p>
}
else if (_points.Count == 0)
{
	<p>No service points.</p>
}
else
{
	<button @onclick="TestFunc">CLICK ME!!!</button>
	<ul>
		@foreach (var sp in _points)
		{
			<li>
				<strong>@sp.Name</strong>
				<div>@sp.Address</div>
				<button @onclick="() => GoToServices(sp.Id)">View services</button>
			</li>
		}
	</ul>
}
@code {
	//Seeded Tenant (DbInititalizer)
	private static readonly Guid TenantId = Guid.Parse("11111111-1111-1111-1111-111111111111");

	private bool _loading = true;
	private string? _error;
	private List<ServicePointDto> _points = new();

	protected override async Task OnInitializedAsync()
	{
		try
		{
			_points = (await Mediator.Send(new GetServicePointsQuery(TenantId))).ToList();
		}
		catch (Exception ex)
		{
			_error = ex.Message;
		}
		finally { _loading = false; }
	}

	private void TestFunc()
	{
		Console.WriteLine("CLICKED CLICKED");	
	}

	private void GoToServices(Guid servicePointId)
	=> Nav.NavigateTo($"/services/{servicePointId}");
}
