@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">QLine</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="service-points">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Service Points
            </NavLink>
        </div>

        <AuthorizeView Roles="Staff, Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="display">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Displays
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Staff, Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/servicepoints">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Service Points Manager
                    </NavLink>
                </div>
        
                <div class="nav-item px-3">
				    <NavLink class="nav-link" href="/staff/queue">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Queue
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        

        <div class="nav-item px-3">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="/profile">
                        <span class="bi bi-person" aria-hidden="true"></span> Profile
                    </NavLink>
                    <NavLink class="nav-link" href="/logout">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Logout
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="/login">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                    <NavLink class="nav-link" href="/register">
                        <span class="bi bi-person-plus" aria-hidden="true"></span> Register
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </nav>
</div>